<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Parque Capibaribe</title>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>
  <link href='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.css' rel='stylesheet' />
  <link href='css/style.css' rel='stylesheet' />
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="js/jquery.tumblr-kit.min.js"></script>
  <script src="http://borismoore.github.com/jsrender/jsrender.js"></script>
  <script src="js/capibaribe.js"></script>
  <script type="text/javascript" src="js/instafeed.min.js"></script>
  <script type="text/javascript" src="js/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
  <link rel="stylesheet" href="js/fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="js/fancybox/source/jquery.fancybox.pack.js"></script>
<!-- <script src="js/ajax.js"></script> -->

  <script>
      var TUMBLR_API_KEY = "qz5zBeyiO9gTJxUIhlH7bLVZXo88xafsjDxGTElGPBYW2wCRYE";
      var TUMBLR_HOSTNAME = "parquecapibaribe.tumblr.com";

      // On DOM Ready, perform these actions
      $(function() {

        function cyclePhotosets() {
          // Cycle images in photosets
          $(".photoset:not(.processed)").each(function() {
            var me = $(this);
            me.cycle();
            me.imagesLoaded(function() {
              me.height(me.find("img").first().height());
            });
            me.addClass("processed");
          });
        }

        // Example Tumblr Kit usage

        $("#all").getTumblrPosts({
          limit: 20,
          done: cyclePhotosets
        });

        // $("#audio").getTumblrPosts({
        //  type: "audio",
        //  limit: 1,
        //  done: function(data, textStatus, jqXHR, url) {
        //    if(typeof console !== "undefined") {
        //      console.log(data);
        //      console.log(textStatus);
        //      console.log(jqXHR);
        //      console.log(url);
        //    }
        //  }
        // });

        // $("#chats").getTumblrPosts({
        //  type: "chat",
        //  limit: 2
        // });

        // $("#links").getTumblrPosts({
        //  type: "link",
        //  limit: 3
        // });

        // $("#photos").getTumblrPosts({
        //  type: "photo",
        //  limit: 3,
        //  template: "#tmpl-photo",
        //  done: cyclePhotosets
        // });

        // $("#quotes").getTumblrPosts({
        //  type: "quote",
        //  limit: 1,
        //  offset: 20
        // });

        // $("#text").getTumblrPosts({
        //  type: "text",
        //  limit: 1
        // });

        // $("#videos").getTumblrPosts({
        //  type: "video",
        //  limit: 3
        // });

      });

    </script>

<script type="text/javascript">
    var feed = new Instafeed({
        get: 'tagged',
        tagName: 'parquecapibaribe',
        clientId: 'ead3f7bcfe2947aeaa730362c007a1cd',
        resolution: 'standard_resolution',
        template: '<a class="fancybox" rel="galeria" href="{{image}}" title="{{caption}}, {{likes}} likes"><img src="{{image}}" /></a>'
    });
    feed.run();
</script>

</head>

<body>
<header>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="images/logo.png" class="img-responsive"></a>
  </div>

  <!-- Collect the nav links for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#">sobre</a></li> -->
      <li><a href="#" id="blog">blog</a></li>
      <li><a href="#" id="instagram">instagram</a></li>
      <li><a href="#" id="twitter">twitter</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</header>

<script id="tmpl-audio" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        {{if track_name || artist || album}}
          <h1>
            {{:track_name}}
            {{if artist}} by {{:artist}}{{/if}}
            {{if album}} from &lsquo;{{:album}}&rsquo;
              {{if year}}({{:year}}){{/if}}
            {{/if}}
          </h1>
        {{/if}}

        {{:~getTintedAudioPlayer(#view, "#DDDDDD")}}

        {{if plays}}<p>{{:plays}} plays</p>{{/if}}

        {{:source}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <script id="tmpl-chat" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        <h1>{{:title}}</h1>

        {{if dialogue}}
          <ul class="chat">
            {{for dialogue}}<li><strong>{{:label}}</strong> {{:phrase}}</li>{{/for}}
          </ul>
        {{/if}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <script id="tmpl-link" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        <h1><a href="{{:url}}">{{:title}}</a></h1>

        {{:description}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <script id="tmpl-photo" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        {{:caption}}

        {{for #data tmpl="#tmpl-metadata"/}}
        
        {{if photoset_layout}}
          <ul class="photoset">
            {{for photos}}<li class="blog-gallery"><a class="fancybox" href="{{:~getPhotoURL(#view, 500)}}" rel="blog"><img src="{{:~getPhotoURL(#view, 150)}}" /></a></li>{{/for}}
          </ul>
        {{else}}
          <img src="{{for photos}}{{:~getPhotoURL(#view, 500)}}{{/for}}" />
        {{/if}}

      </article>
    </script>

    <script id="tmpl-quote" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        <h1>{{:text}}</h1>

        {{:source}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <script id="tmpl-text" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        <h1>{{:title}}</h1>

        {{:body}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <script id="tmpl-video" type="text/x-jsrender">
      <article id="post-{{:id}}" class="post-{{:type}}">
        {{:~getVideoEmbed(#view, 500)}}

        {{:caption}}

        {{for #data tmpl="#tmpl-metadata"/}}
      </article>
    </script>

    <!-- Additional Metadata / Tag templates to avoid repetition of code -->

    <script id="tmpl-metadata" type="text/x-jsrender">
      {{if note_count > 0}}<p><small><a href="{{:post_url}}#notes">{{:note_count}} notes</a></small></p>{{/if}}

      {{if tags}}<ul class="tags">{{for tags tmpl="#tmpl-tag"/}}</ul>{{/if}}
    </script>

    <script id="tmpl-tag" type="text/x-jsrender">
      <li><a href="http://{{:~getHostname()}}/tagged/{{:#data}}">{{:#data}}</a></li>
    </script>

    <!-- Container elements to render posts into -->
    <div id="blog-content">
      <div class="close-blog"> <span class="glyphicon glyphicon-remove-circle"></span></div>
      <h1>blog</h1>
      <div id="all"></div>
    </div>

    <div id="insta-content">
      <div class="close-insta"><span class="glyphicon glyphicon-remove-circle"></span></div>
      <h1>#parquecapibaribe</h1>
      <div id="instafeed"></div>
    </div>

    <div id="twitter-content">
      <div class="close-twitter"><span class="glyphicon glyphicon-remove-circle"></span></div>
      <h1>twitter</h1>
      <a class="twitter-timeline" href="https://twitter.com/pcapibaribe" data-widget-id="427991570600570880" data-chrome="noheader nofooter noborders noscrollbar transparent">Tweets de @pcapibaribe</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


    </div>

<ul id='map-ui'></ul>
<div id='map'></div>

<script>
var map = L.map('map', { zoomControl: false }).setView([-8.05, -34.91], 13);
var ui = document.getElementById('map-ui');
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_default/{z}/{x}/{y}.png'), 'o rio e a cidade', 1);
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_rpc/{z}/{x}/{y}.png'), 'renda per capta', 2);
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_density/{z}/{x}/{y}.png'), 'densidade populacional', 3);
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_vitalidades/{z}/{x}/{y}.png'), 'vitalidades', 4);
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_estacoesbikeps/{z}/{x}/{y}.png'), 'est. bicicletas', 5);
addLayer(L.tileLayer('http://mapas.3ecologias.net:8888/v2/pc_fluviais/{z}/{x}/{y}.png'), 'barco bus', 6);

new L.Control.Zoom({ position: 'bottomleft' }).addTo(map);
// disable drag and zoom handlers
map.touchZoom.disable();
map.doubleClickZoom.disable();
map.scrollWheelZoom.disable();
// disable tap handler, if present.
if (map.tap) map.tap.disable();


function addLayer(layer, name, zIndex) {
    layer
        .setZIndex(zIndex);
        // .addTo(map);

    // Create a simple layer switcher that toggles layers on
    // and off.
    var item = document.createElement('li');
    var link = document.createElement('a');

    link.href = '#';
    // link.className = 'active';
    link.className = '';
    link.innerHTML = name;

    // hack to set first map to default.

    if (zIndex == 1) {
        layer.addTo(map);
        link.className = 'active';
    }

    // end hack

    link.onclick = function(e) {
        e.preventDefault();
        e.stopPropagation();

        if (map.hasLayer(layer)) {
            map.removeLayer(layer);
            this.className = '';
        } else {
            map.addLayer(layer);
            this.className = 'active';
        }
    };

    item.appendChild(link);
    ui.appendChild(item);
}
</script>


</body>
</html>