@font-face {
    font-family: ConduitLight;
    src: url('fonts/conduit/light-regular.woff');
    font-weight:400;
}

html {
     max-width:100%;
     max-height:100%;
     overflow:hidden;
}

body { max-width:100%; max-height: 100%; margin:0; padding:0; font-family: 'ConduitLight', sans-serif!important; overflow: hidden; font-size: 1.6em!important;}
header {width: 100%; z-index: 1; position: absolute;}
h1, h2 {font-family: 'ConduitLight', sans-serif!important; overflow: hidden; font-size: 1.6em!important;}

a {transition: all 0.2s ease-in-out 0s;}

#capa {
    width: 100%;
    height: 100%;
    z-index: 1002;
    position: fixed;
    top: 0;
    text-align: center;
    padding-top: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 1);
    display: none;
}

#capa img {
    max-width: 100%;
}

#texto-capa, #explore {
color: #fff;
}

#explore {
    position: absolute;
    bottom: -21px;
    left: 47%;
}

#explore span {
    display: block;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.explore:hover {
    -webkit-filter: grayscale(100%) sepia(100%);
    -moz-filter: grayscale(100%) sepia(100%);
    -o-filter: grayscale(100%) sepia(100%);
    -ms-filter: grayscale(100%) sepia(100%);
    filter: grayscale(100%) sepia(100%);
}

#video-capa {
    display: block;
    margin-top: 1em;
}
#facebook {
    position: fixed;
    bottom: 0.28em;
    left: 6.5em;
    z-index: 1000;
}

#twitter {
    position: fixed;
    bottom: -0.1em;
    left: 12em;
    z-index: 1000;
}

#header {
    
}
#map { position:absolute; top:0; bottom:0; width:100%; }
#map-ui {
    position: absolute;
    bottom: 2%;
    left: 2%;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 20%;
    opacity: 0.5;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui li {
    float: left;
    display: inline-block;
    line-height: 0.3em;
    width: 150px;
}

#map-ui a {
    background: #FFF;
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui a:hover {
    background: #007F93;
    color: #fff;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui a.hidden {
    display: none;
}

/* Map Sistemas Naturais */
#map-ui-ap {
    position: absolute;
    bottom: -10.7em;
    right: 33em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-ap li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-ap a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-ap a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-ap li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-ap li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-ap a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-ap a.hidden {
    display: none;
}

#map-ui-ap a.menu {
    background-color: #09AA09;
    color: #FFF;
}

/* Map Tecido Urbano */
#map-ui-tu {
    position: absolute;
    bottom: -17.9em;
    right: 22em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-tu li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-tu a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-tu a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-tu li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-tu li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-tu a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-tu a.hidden {
    display: none;
}

#map-ui-tu a.menu {
    background-color: #717194;
    color: #FFF;
}

/* Map Sócio/Econômico */
#map-ui-se {
    position: absolute;
    bottom: -14.2em;
    right: 11em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-se li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-se a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-se a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-se li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-se li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-se a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-se a.hidden {
    display: none;
}

#map-ui-se a.menu {
    background-color: #DDAA3E;
    color: #FFF;
}

/* Map Projeto Parque Capibaribe */
#map-ui-vi {
    position: absolute;
    bottom: -17.9em;
    right: 44em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-vi li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-vi a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-vi a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-vi li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-vi li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-vi a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-vi a.hidden {
    display: none;
}

#map-ui-vi a.menu {
    background-color: #F0436C;
    color: #FFF;
}

/* Map Diagnóstico */

#map-ui-project {
    position: absolute;
    bottom: -14.2em;
    right: 0em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-project li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-project a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-project a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-project li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-project li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-project a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-project a.menu {
    background-color: #FA6400;
    color: #FFF;
}

/* Map inst */

#map-ui-inst {
    position: absolute;
    bottom: -8em;
    left: 50em;
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
    z-index: 100;
    font-size: 0.8em;
    width: 140px;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#map-ui-inst li {
    float: left;
    display: inline-block;
    line-height: 2;
    width: 140px;
}

#map-ui-inst a {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.6);
    color: #007F93;
    display: block;
    margin: 0;
    padding: 0;
    /*border: 1px solid #BBB;*/
    border-bottom-width: 0;
    min-width: auto;
    padding: 10px;
    text-decoration: none;
}

#map-ui-inst a:hover {
    background: #007F93;
    color: #fff;
    opacity: 1;
}

#map-ui-inst li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#map-ui-inst li:first-child a {
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

#map-ui-inst a.active {
    background: #007F93;
    border-color: #1BBADA;
    border-top-color: #FFF;
    color: #FFF;
}

#map-ui-inst a.menu {
    background-color: #939904;
    color: #FFF;
}

 /*#map-ui-ap:hover, #map-ui-tu:hover, #map-ui-se:hover, #map-ui-vi:hover, #map-ui-project:hover, #map-ui-inst:hover {opacity:1;transition: all 0.2s ease-in-out 0s;}*/

/* Navbar */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 2px 3px rgba(163, 163, 163, 1);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #1BBADA;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #007F93;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #007F93;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #007F93;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
    }
}
.navbar-brand img {
    max-width: 100%;
}

#sobre-content, #instagram-content, #blog-content, #twitter-content, #se-content, #t1-content, #t2-content, #t3-content, #t4-content, #ff-content  {
    float: right;
    height: 55%;
    width: 25%;
    padding: 20px 30px 0px 18px;
    background: none repeat scroll 0% 0% rgba(134, 24, 131, 0.8);
    color: rgb(255, 255, 255);
    text-align: left;
    position: fixed;
    right: 0px;
    display: none;
    z-index: 101;
    overflow: auto;
}

#sobre-content img {
    max-width: 100%;
}

.fanpage {
    width: 10%;
}

.blog-gallery {
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 7px;
}

.post-photo {
    display: inline-block;
    border-top: 3px solid whitesmoke;
    margin-bottom: 5em;
    padding-top: 1em;
}
.close-insta, .close-blog, .close-twitter, .close-sobre, .close-t1, .close-t2, .close-t3, .close-t4, .close-se, .close-ff {
    top: 5px;
    right: 15px;
    width:auto;
    height:auto;
    /*background:#900;*/
    position:fixed;
    cursor:pointer;
    font-size: 1.2em;
    /*display: none;*/
}

/*#t1-content, #t2-content, #t3-content, #t4-content, #ff-content {
    float: right;
    height: 100%;
    width: 25%;
    padding: 0px 20px;
    background: none repeat scroll 0% 0% rgba(0, 127, 147, 0.6);
    color: rgb(255, 255, 255);
    text-align: justify;
    position: fixed;
    right: 0px;
    display: none;
    z-index: 101;
    overflow: auto;

}*/

#instafeed img, #parquecapibaribe img, #capibaribevivo img {
    width: 20%;
    padding: 7px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    display: none;
}
 
::-webkit-scrollbar-track-piece  {
    background-color: #007F93;
    -webkit-border-radius: 6px;
}
 
::-webkit-scrollbar-thumb:vertical {
    background-color: #f2f2f2;
    -webkit-border-radius: 6px;
}

.leaflet-control-attribution {
    display: none !important;
}

*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}
/* Legendas */
#legend-content {
    font-size: 82%;
    z-index: 1;
    position: fixed;
    left: 3.5em;
    bottom: 3em;
    /*background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.6);*/
    padding: 0px 11px 12px 11px;
    color: #007F93;
    /*opacity: 0.1;*/
    transition: all 0.2s ease-in-out 0s;
}

#legend-content h4 {
  font-size: 16px;
  color: #007F93;
  font-weight: bold;
}

#legend-01:hover, #legend-02:hover, #legend-03:hover, #legend-04:hover, #legend-05:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
}

#legend-01, #legend-02, #legend-03, #legend-04, #legend-05 {
    float: left;
    display: inline-block;
    padding: 3px;
    display: none;
    opacity: 0.5;
    background: none repeat scroll 0% 0% rgba(230, 230, 230, 0.6);
    transition: all 0.2s ease-in-out 0s;
    min-height: 12em;
}

/* Markers Tooltip */
.popup {
    text-align: center;
}
.popup .slideshow {
    width: 100%;
}
.popup .slideshow .image {
    display: none;
}
.popup .slideshow .active {
    display: block;
}
.popup .slideshow img {
    width: 100%;
}
.popup .slideshow .caption {
    background: #eee;
    padding: 8px;
}
.popup .cycle {
    height: 30px;
    margin-top: 5px;
    padding-top: 5px;
}
.popup .cycle a.prev {
    float: left;
}
.popup .cycle a.next {
    float: right;
}

.map-overlay {
    position:absolute;
    top:5px;
    right:5px;
    padding:5px;
    background:#fff;
    font-size:11px;
}
.map-overlay input {
    font:inherit;
}

.leaflet-popup-content {
/*    margin-left: 0px!important;
    margin-right: 16px!important;
    margin-top: 0px!important;
    margin-bottom: 2px!important;*/
}

.leaflet-popup-content-wrapper {
    background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.3)!important;
    -webkit-border-radius: 2px;
    padding: 10px!important;
    border-radius: 2px;
    box-shadow: 0 -2px 32px rgba(0,0,0,0.7)!important;
    }
.leaflet-popup-tip {
    background: none repeat scroll 0% 0% rgba(0, 127, 147, 0.5)!important;
    border-top: 0px!important;
}

/*fancybox text line break****/
.child {
    white-space: pre-line !important;
}

.carousel-inner img {
    width: 100%;
}

/* Tumblr styles*/

#all img {
    width: 100%;
}

#social {
    position: fixed;
    bottom: 7.5em;
    left: 0.7em;
    z-index: 1;
}

.post-text {
    border-bottom: 1px dashed white;
    padding-bottom: 3em;
}

.post-text a {
    color:rgba(237, 180, 255, 1);
}

.post-text a:active {
    color:rgba(220, 130, 255, 0.8);
}

.post-text a:hover {
    color:rgba(208, 120, 255, 0.8);
}
/* share icons */
#instagram, #flickr {
    display: block;
    padding-bottom: 0.5em;
}